@import "variables";

.main{
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: auto;
    display: inline-block;
    .logo{
        margin: 45px 0 0 58px;
        span{
            &:first-of-type{
                width: 48px;
                display: inline-block;
            }
            &:last-of-type{
                width: 95px;
                display: inline-block;
            }
        }
    }
}
section.banner{
    width: 100%;
    max-height: 709px;
    height: 100vh;
    background: url("/images/banner-bg.png") no-repeat bottom right;
    background-size: contain;
    @media(max-width:1200px){
        max-height: unset;
        height: auto;
    }
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        .banner-cnt{           
            h1{
                margin-bottom: 45px;
                max-width: 793px;
                @media(max-width:1439px){
                    max-width: 600px;
                }
            }      
            .p-text{
                margin-bottom: 53px;
                max-width: 498px;
            }
        }       
    }
}
section.testimonials{
    padding: 145px 0 104px 0;
    .testimonial-in{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 87px;
        @media(max-width:1366px){
            padding: 0;
        }
        @media(max-width:991px){
            flex-direction: column;
        }
        .testimonial-words{
            flex: 2;
            .p-text{
                max-width: 577px;
                margin-top: 36px;
                display:block;
                @media(max-width:991px){
                    text-align: center;
                }
            }  
            .testi-profile{
                display: flex;
                margin-top: 55px;
                flex-direction: row;
                align-items: flex-end;
                @media(max-width:991px){
                    flex-direction: column;
                    align-items: center;
                }
                .profile-dp{
                    width: 115px;
                    height: 115px;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .profile-texts{
                    margin-left: 20px;
                    max-width: 377px;
                    line-height: 30px;
                    @media(max-width:991px){
                        text-align: center;
                        margin-top: 15px;
                    }
                    .name{
                        font-weight: 700;
                        font-size: 24px;
                        display: block;
                    }
                    .designation{
                        font-weight: 400;
                        font-size: 18px;

                    }
                }
            }  
        } 
        .testimonial-image{
            flex: 1;
            // img{
            //     padding-left: 74px;
            // }
        }       
    }
}
footer{
    background: $fontcolor;
    padding:71px 62px 62px 56px;
    .footer-in{
        display: flex;
        justify-content: space-between;
        color: $white;
        .foot-logo{
            span{
                &:first-of-type{
                    width: 48px;
                    display: inline-block;
                }
                &:last-of-type{
                    display: inline-block;
                    width: 98px;
                }
            }
        }
        .copy-right{
            font-size: 21px;
            font-weight: 400;
        }
        .contacts{
            max-width: 244px;
            
            p.p-text{
                text-align: right;
                font-size: 21px;
                line-height: 28px;
                font-weight: 400;
                &:last-of-type{
                    margin-top: 20px;
                }
            }
        }
    }
}
.how-it-works{
    background: #FFF3C3;
    padding: 93px 0 229px 0;
    h2{
        text-align: center;
    }
    .works-accordian{
        margin-top: 118px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        .accordian-content{
            .accordian-tabs{
                display: inline-block;
                min-width: 501px;
                max-width: 501px;
                background: $white;
                border-radius: 25px;
               
                .accordian{
                    padding: 0 21px 0 25px;
                    border-bottom: 1px solid rgba(33, 42, 66, 0.3);
                    overflow: hidden;
                    &:last-of-type{
                        border-bottom: none;
                    }
                    .accordian-title{
                        font-size: 24px;
                        font-weight: 700;
                        color: $black;
                        line-height: 78px;
                        text-transform: uppercase;
                        position: relative;
                        &::after{
                            content: url(../images/arrow.png);
                            position: absolute;
                            right: 0;
                            display: inline-block;
                            transition: all .5s ease-in-out;
                        }
                    }
                    .accordian-text{
                        // height: 0;
                        // opacity: 0;
                        // visibility: hidden;
                        display: none;
                        padding-bottom: 44px;
                        p{
                            font-size: 21px;
                            line-height: 34px;
                            font-weight: 400;
                            padding-left: 39px;
                            padding-right: 21px;
                        }
                    }
                }
                .accordian.open{
                    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.22); 
                    border-radius: 5px;   
                    &:first-of-type{
                        border-radius: 25px;
                        overflow: hidden;
                    }   
                    &:last-of-type{
                        
                        overflow: hidden;
                        background: #fff;
                    }   
                    .accordian-title{
                        &::after{
                            transform: rotate(180deg);
                        }
                    }                 
                    .accordian-text{
                        display: block;
                        opacity: 1;
                        visibility: visible;
                        height: auto;
                    }
                }
            }
        }
    }
}
.pricing{
    padding: 122px 0 106px 0;
    background: #C4F3FB;

    h2{
        text-align: center;
    }
    .price-types{
        margin-top:98px;
        display: flex;
        justify-content: space-between;
        position: relative;
        .price-box{
            background: #FBF9F2;
            border-radius: 15px;            
            max-width: 380px;
            min-width: 380px;
            display: inline-block;
            .price-box-in{
                padding: 51px 0 43px 44px;
                .sub-title{
                    font-size: 21px;
                    color: $fontcolor;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .section-head{
                    text-align: left;
                }
                .item-features{
                    margin-top: 14px;
                    ul{
                        li{
                            font-size: 21px;
                            font-weight: 300;
                            line-height: 24px;
                            list-style: none;
                            margin-bottom:19px;
                            color: $fontcolor;
                            position: relative;
                            padding-left: 36px;
                            &::before{
                                content: url("../images/right.svg");
                                display: inline-block;
                                position: absolute;
                                width: 28px;
                                height: 28px;
                                left: 0;
                                top: -4px;
                                // transform: translate(-50%, -50%);
                                background: #F7D54D;
                                border-radius: 50%;
                                text-align: center;
                                line-height: 28px;
                            }
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                button.bleat-btn{
                    margin:59px auto 0 0;
                    display: block;
                    width: 285px;
                }                             
            }
            &:first-of-type{
                margin-left: 17px;
                .item-features{
                    ul{
                        li{
                            &:nth-child(3n),
                            &:nth-child(4n),
                            &:nth-child(5n),
                            &:last-of-type{
                                &::before{
                                    background: $fontcolor;
                                    content: url('../images/close.svg');
                                }
                            }
                        }
                    }
                }

            }
            &:nth-child(2n){
                .item-features{
                    ul{
                        li{
                            &:nth-child(5n),
                            &:last-of-type{
                                &::before{
                                    background: #FBF9F2;
                                    content: url('../images/close-blue.svg');
                                }
                            }
                        }
                    }
                }
            }
            &:last-of-type{
                margin-right: 17px;
            }                                
        }
        .popular{
            left: 32%;
            min-width: 432px;
            max-width: 432px;  
            background: $fontcolor; 
            position: absolute;
            margin-top: -42px;
            .price-box-in{
                padding: 17px 0 84px 70px;
                .special-tag{
                    width: 197px;
                    height: 37px;
                    background: #F7D54D;
                    color: $black;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    line-height: 37px;
                    margin: 0 auto 39px 49px;
                }       
                .sub-title,
                .section-head,
                .item-features ul li
                {
                    color: $white;
                }
                button.bleat-btn{
                    margin:59px auto 0 0;
                    display: block;
                } 
            }
            
        }
  
    }
}


